/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Définir les couleurs de la charte graphique */
:root {
  /* Couleur du texte en blanc */
  --foreground-color: #ffffff;
  
  /* Couleur de fond en bleu */
  --background-color: #141c5b;
}

/* Modifier les styles pour le mode sombre si nécessaire */
@media (prefers-color-scheme: dark) {
  :root {
    /* En mode sombre, le texte reste blanc */
    --foreground-color: #ffffff;
    
    /* En mode sombre, le fond reste bleu */
    --background-color: #141c5b;
  }
}

/* Appliquer les couleurs de la charte graphique au corps de la page */
body {
  /* Appliquer la couleur définie pour le texte */
  color: var(--foreground-color);
  
  /* Appliquer la couleur définie pour le fond */
  background: var(--background-color);
}

/* Exemple de classe utilitaire personnalisée */
@layer utilities {
  /* Classe utilitaire pour l'enroulement du texte */
  .text-balance {
    text-wrap: balance;
  }
}

/* Ajoutez ceci à la fin de votre fichier */
body {
  font-family: 'Inter', sans-serif;
  color: #333;
}

h1 {
  color: #141c5b;
}

p {
  margin-top: 1rem;
}
